* {
  font-family: "Nunito Sans","Helvetica",sans-serif;
}

.container-switch {

 display:flex;
 justify-content: space-around;
}

.container-buttons {

  display:flex;
  margin-top: 40px;
  margin-left: 39%;

}

.container-buttons-marketplace {

  display:flex;
  margin-top: 40px;
  margin-left: 30%;

}
.container-marketplace {
  display: flex;
  margin-bottom:15px;


}

#loader {
  border: 10px solid #5d5380;
  border-top: 10px solid #272838;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: 0 auto !important;
  float: none !important;
}

#space-loader {
  height: 20%;
}

.load {
  text-align: center;
  font-size: 30px;
  width:400px;
  height: 400px;
  padding:'30px'
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bp-tabs-container ul.bp-tab-nav li.bp-tab-active {
  border-bottom: solid 4px;
  border-image: linear-gradient(to right, #3f7de8 0%, #3f7de8 100%);
  border-image-slice: 1;
}
.bp-tabs-container ul.bp-tab-nav li.bp-tab-active a {
  color: #3f7de8;
}
.bp-btn.bp-btn--bot {
  color: #fff;
  background-color: #3f7de8;
}
.bp-btn.bp-btn--small {
  min-width: 120px;
}
.bp-btn, .bp-btn>* {
  vertical-align: middle;
}
.bp-btn {
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  min-width: 10rem;
  height: 2.625rem;
  line-height: 2.375rem;
  margin: 0;
  padding: 0 1.25rem;
  border-width: 0;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  font-family: "Nunito Sans","Helvetica",sans-serif;
  font-size: .875rem;
  font-weight: 600;
  outline: none;
  text-decoration: none;
  color: #fff;
  background-color: #c9dfe4;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.bp-btn.bp-btn--bot:hover {
  background-color: #1b63e0; /* Green */
  color: white;
}

.logo-img {
  
  width:130px;
}

