@import './globals';
@import '~blip-toolkit/dist/scss/main';
@import 'tachyons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $bp-ff;
}

body {
  background-color: $bp-color-whisper;
  color: $bp-color-rooftop;
}

a {
  color: $bp-color-blip-light;
  text-decoration: none;
}

#main {
  margin: 10px auto;
  width: 80%;
}

.hidden {
  visibility: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bp-tabs-container .bp-tab-content {
  padding-top: 20px;
}

.w6 {
  width: 24rem;
}

.containder-menu-resource {

  width: 50%;
  padding-bottom: 17px;
}

.board {
  display: flex;
}
.column {
  margin: 8px;
  padding: 8px;
  border-left: 1px solid #ddd;
  border-radius: 4px;

  
}
.column:first-child {
  border-left: none;
}

.column-title {
  position: sticky;
  top: 0;
  z-index: 999999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.column-with-scroll {
  overflow-y: auto;
  max-height: 700px; 
}

.column.no-scroll-during-drag {
  overflow-y: hidden !important; 
}

.column:first-child {
  border-top: none;
}

.card {
  margin: 8px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}

.column-title {
  text-align: center;
}

.card-container.dragging-over {
  overflow-y: visible;
}

.column-divider {
  border: none;
  height: 1px;
  background: #ddd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 0; 
}

